.hidden1 {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}

.hidden6 {
  display: none;
}

.hidden7 {
  display: none;
}

.hidden8 {
  display: none;
}

.hidden9 {
  display: none;
}

.hidden10 {
  display: none;
}

.hidden11 {
  display: none;
}

.hidden12 {
  display: none;
}

.hidden13 {
  display: none;
}

.hidden14 {
  display: none;
}

.hidden15 {
  display: none;
}

.hidden16 {
  display: none;
}

.hidden17 {
  display: none;
}

.hidden18 {
  display: none;
}

.hidden19 {
  display: none;
}

div.jumbotron {
  height: 150px;
  background-color: tan;
  border: 4px dotted black
}

body {
  font-family: 'Fredoka One', cursive;
}
